@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --bg: oklch(98.5% 0.002 247.839);
  --fg: oklch(20.8% 0.042 265.755);
  --border: oklch(20.8% 0.042 265.755);
}

@theme inline {
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --color-border: var(--border);
  --color-muted: var(--fg-muted);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-headline: var(--font-headline);

  --animate-border-spin: border-spin 5s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: oklch(20.8% 0.042 265.755);
    --fg: hwb(210 98% 2%);
    --fg-muted: oklch(70.7% 0.022 261.325);
    --border: 39 39 42;
  }
}

.theme-light {
  --bg: oklch(98.5% 0.002 247.839);
  --fg: oklch(20.8% 0.042 265.755);
  --border: oklch(20.8% 0.042 265.755);
  --fg-muted: oklch(37.3% 0.034 259.733);
}

.theme-dark {
  --bg: oklch(20.8% 0.042 265.755);
  --fg: oklch(98.5% 0.002 247.839);
  --fg-muted: oklch(70.7% 0.022 261.325);
  --border: 39 39 42;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: Helvetica, sans-serif;
}

.text-accent-color {
  @apply text-purple-600;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes border-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.fade-in {
  animation: fadeIn 0.7s ease-out;
}

@layer utilities {
  .featurebox-wrapper {
    @apply relative bg-linear-to-b  from-slate-900 to-slate-950 overflow-hidden;
  }

  .featurebox-wrapper::before,
  .featurebox-wrapper::after {
    background: conic-gradient(
      rgba(244, 114, 182, 0.4) 0deg,
      rgba(192, 132, 252, 0.4) 0deg,
      transparent 120deg
    );

    @apply absolute h-[300%] w-[350%] left-[-125%] -top-full content-[""] -z-10 animate-border-spin transition duration-500 opacity-0;
  }

  .featurebox-wrapper::before {
    filter: blur(1.5rem);
    opacity: 0;
  }

  .featurebox-wrapper:hover::before,
  .featurebox-wrapper:hover::after {
    @apply opacity-100;
  }

  .featurebox-wrapper:hover::before {
    opacity: 0.4; /* glowing haze */
  }

  .featurebox-content {
    @apply w-full h-full rounded-xl bg-linear-to-b  from-slate-900 to-slate-950;
  }
}
